.FeedApp {
  display: flex;
}

.FeedApp > * {
  flex-grow: 1;
  flex-basis: 100%;
}

.sidebar {
  max-width: 200px;
  display: flex;
  flex-direction: column;
}

.sidebar__element {
  padding: 10px;
}

a,
a:link,
a:visited,
a:hover,
a:active,
.sidebar__element__link {
  text-decoration: none;
  /* color: black; */
}

.post {
  border: 1px solid;
  padding: 10px;
  border-collapse: separate;
}
